//
// Component: Background
//
// ========================================================================


// Variables
// ========================================================================

@base-body-color:                               var(--uk-font-color);
@base-body-background:                          var(--uk-background);
@base-body-line-height:                         var(--uk-line-height);

@base-code-font-size:                           @extra-mini-font-size;
@base-code-color:                               @text-danger-color;
@base-code-background:                          rgba(0,0,0,.06);

@base-margin-vertical:                          @global-margin;

@base-heading-font-family:                      var(--uk-font-family-heading);

@base-pre-font-size:                            @base-code-font-size;
@base-pre-background:                           @base-code-background;


// Component
// ========================================================================

.hook-base-body() {
    box-sizing: border-box;
}

.hook-base-pre() {}

.hook-base-blockquote-footer() {
    &::before { content: "~ "; }
}

.hook-base-misc() {
    :not(pre)>kbd {
        color: #555;
        font-size: 13px;
        padding: 3px 5px;
        line-height: 1rem;
        margin-top: -1px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 3px;
        border-bottom: 1px solid #c8c8c8;
        background: #f4f4f4;
    }

    .uk-shadow-remove {
        box-shadow: none !important;
    }
}
