//
// Component: Card
//
// ========================================================================


// Variables
// ========================================================================

@card-body-padding-horizontal:                 @global-gutter;
@card-body-padding-vertical:                   @global-gutter;

@card-body-padding-horizontal-l:               @global-gutter;
@card-body-padding-vertical-l:                 @global-gutter;
@card-header-padding-horizontal-l:             @global-gutter;
@card-header-padding-vertical-l:               round(@global-gutter / 2);
@card-footer-padding-horizontal-l:             @global-gutter;
@card-footer-padding-vertical-l:               round(@global-gutter / 2);


@card-default-header-border:                   rgba(0, 0, 0, 0.15);
@card-default-footer-border:                   @card-default-header-border;


// Component
// ========================================================================
