//
// Component: Text
//
// ========================================================================


// Variables
// ========================================================================

@text-primary-color:                            #404ead;
@text-success-color:                            #0a7e07;
@text-warning-color:                            #e45202;
@text-danger-color:                             #d80f0b;


// Component
// ========================================================================

.hook-text-misc() {
    .uk-text-mini {
        font-size: @extra-mini-font-size;
    }
}
