@import "uikit/sketsa/variables.less";
@import "uikit/sketsa/inverse.less";


/*
 * Sketsa theme stylesheet
 */

@th-header-height:                  46px;
@th-header-main-height:             36px; // breadcrumb
@th-sidebar-width:                  220px;
@th-sidepanel-width:                250px;

@th-main-content-padding-v:         20px;
@th-main-content-padding-h:         25px;


/* Layout
 =============================== */
html {
    background: #e4e5e6;
    overflow-y: scroll;
}

.th-header, .th-main, .th-main-content,
.th-footer, .th-sidebar, .th-side-panel {
    transition: margin-left .25s, margin-right .25s, width .25s, flex .25s;
}

/* Layout: Login
 =============================== */
 .th-login .th-logo {
    color: #d00;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 10px;
 }

/* Layout: Header
 =============================== */
.th-header {
    height: @th-header-height;
    background: @global-primary-background;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    .th-logo {
        width: @th-sidebar-width;
        color: #fbfbfb !important;
        font-size: 2rem;
        text-align: center;
        cursor: default;
    }
    .uk-navbar-right {
        padding-right: @th-main-content-padding-h;
    }

    /* adjust navbar height and color */
    .uk-navbar-item,
    .uk-navbar-nav>li>a,
    .uk-navbar-toggle {
        height: @th-header-height;
        color: #eee;
    }
    .uk-navbar-nav > li:hover > a,
    .uk-navbar-nav > li > a:focus,
    .uk-navbar-nav > li > a.uk-open,
    .uk-navbar-toggle:hover,
    .uk-navbar-toggle:focus,
    .uk-navbar-toggle.uk-open {
        color: #fff;
    }
}

/* Layout: Sidebar
 =============================== */
 .th-sidebar {
    background-color: @extra-color-gray-deep;
    width: @th-sidebar-width;
    margin-left: -@th-sidebar-width;
    padding-top: @th-header-height;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    .th-sidebar-profile a,
    .uk-nav a, .uk-nav span {
        color: #bbb;
    }
    .th-sidebar-profile,
    .th-sidebar-profile a:hover,
    .th-sidebar-profile a:focus,
    .uk-nav a:hover, .uk-nav a:hover span,
    .uk-nav a:focus, .uk-nav a:focus span {
        color: #f2f2f2;
    }
    li.uk-active > a,
    li.uk-active > a:hover {
        color: #1E87F0;
    }
}
.th-sidebar-scroll {
    width: @th-sidebar-width;
    height: ~'calc(100vh - ' @th-header-height~')';
    padding: 10px;
    position: relative;
    overflow: hidden;
}

/* Sidebar state */
.th-sidebar-show {
    .th-sidebar {
        margin-left: 0;
    }
    .th-main {
        margin-left: @th-sidebar-width;
    }
}

/* Layout: Side Panel
 =============================== */
.th-side-panel {
    width: @th-sidepanel-width;
    margin-right: -@th-sidepanel-width;
    background-color: #fff;
    border-left: 1px solid @global-border;

    position: fixed;
    top: @th-header-height;
    bottom: 0;
    right: 0;
    overflow: auto;

    /* Side panel tab */
    .uk-tab {
        margin-bottom: 0;
        background: #fbfbfb;

        &::before {
            border-color: rgba(0,0,0,.2);
        }
    }
}

/* Side panel state */
.th-side-panel-show {
    @media (min-width: 960px) {
        .th-side-panel {
            margin-right: 0;
        }
        .th-main {
            margin-right: @th-sidepanel-width;
        }
    }
}

/* Layout: Main
 =============================== */
.th-main {
    z-index: 10;
}
.th-main-header { // breadcrumbs
    height: @th-header-main-height;
    padding: 6px 20px;
    background-color: #fff;
    border-bottom: 1px solid @global-border;

    > * {
        margin: 0;
    }
}
.th-main-content {
    padding: @th-main-content-padding-v @th-main-content-padding-h;
}

/* Plugin: Perfect Scroller
 =============================== */
// smaller scroll handler
.ps__rail-y {
    width: 12px;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    width: 9px;
}
