html {
  font-size: 15px;
  background-color: #f4f4f4;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/* Layout
 =============================== */
.th-footer {
  margin-top: 20px;
}
.th-header,
.th-main,
.th-main-content,
.th-footer,
.th-sidebar,
.th-side-panel {
  -webkit-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -webkit-box-flex 0.25s, -ms-flex 0.25s;
}
/* Layout: Login
 =============================== */
.th-login .th-logo {
  color: #d00;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 10px;
}
/* Layout: Header
 =============================== */
.th-header {
  height: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.th-header .th-logo {
  width: 200px;
  color: #fbfbfb !important;
  font-size: 2rem;
  text-align: center;
  cursor: default;
}
.uk-navbar-right {
  padding-right: 20px;
}
/* adjust navbar height */
.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  height: 46px;
  color: #eee !important;
}
.uk-navbar-item:hover,
.uk-navbar-nav > li > a:hover,
.uk-navbar-toggle:hover {
  color: #fff !important;
}
/* Layout: Sidebar
 =============================== */
.th-sidebar {
  background-color: #2b2b2b;
  width: 200px;
  margin-left: -200px;
  position: fixed;
  top: 46px;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.th-sidebar a,
.th-sidebar span {
  color: #aaa !important;
}
.th-sidebar a:hover {
  color: #eee !important;
}
.th-sidebar .uk-active > a {
  color: #1E87F0 !important;
}
.th-sidebar-scroll {
  width: 200px;
  height: calc(100vh -  46px );
  padding: 8px 10px 15px 15px;
  position: relative;
  overflow: hidden;
}
/* Sidebar state */
.th-sidebar-show .th-sidebar {
  margin-left: 0;
}
@media (min-width: 960px) {
  .th-sidebar-show .th-main {
    margin-left: 200px;
  }
}
.th-sidebar-show .th-hide-on-sidebar-show {
  display: none !important;
}
/* Layout: Side Panel
 =============================== */
.th-side-panel {
  background-color: #f8f8f8;
  border-left: 1px solid #d4d4d4;
  width: 250px;
  margin-right: -250px;
  position: fixed;
  top: 46px;
  bottom: 0;
  right: 0;
  overflow: auto;
  /* Side panel tab */
}
.th-side-panel .uk-tab {
  margin-bottom: 0;
}
.th-side-panel .uk-tab > * > a {
  padding: 5px 10px 8px;
}
/* Side panel state */
@media (min-width: 960px) {
  .th-side-panel-show .th-side-panel {
    margin-right: 0;
  }
  .th-side-panel-show .th-main {
    margin-right: 250px;
  }
}
.th-side-panel-show .th-hide-on-side-panel-show {
  display: none !important;
}
/* Layout: Main
 =============================== */
.th-main {
  z-index: 1;
}
.th-main-header {
  height: 36px;
  padding: 6px 20px;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.th-main-header > * {
  margin: 0;
}
.th-main-content {
  padding: 20px;
}
/* Plugin: Perfect Scroller
 =============================== */
.ps__rail-y {
  width: 12px;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 9px;
}
